body {
    font-family: Cursive;
    background-color: DarkBlue;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("acquacat.png");
  
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.center {
    width: 960px;
    margin: 0 auto;
    padding: 6px;
}

img {
    width: 130;
    height: 130;
}
 
  body, html {
    height: 100%;
}



  .funnybutton {
    background-color: #191970;
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 17px;
  }

.funnybutton:hover {
    background-color: #191970;
    color: white;
}

.funnybutton:active {
    background-color: #04AA6D;
    color: white;
}