body, html {
    height: 100%;
}

body {
    font-family: Cursive;
    background-color: orange;
    color: white;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("acquacat.png"); */

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}



.center {
    float: left;
    text-align: left;
}

img {
    width: 270px;
    height: 270px;
} 

.clicker {
    width: 250px;
    height: 250px;
    float: right;
    text-align: right;
    font-size: 40px;
}

.clickbutton {
    background-color: aqua;
    background-image: url("bingas.png");
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: 250px 250px;
    background-repeat: no-repeat;
    font-size: 40px;
}

  .funnybutton {
    background-color: #191970;
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 17px;
  }

.funnybutton:hover {
    background-color: #191970;
    color: white;
}

.funnybutton:active {
    background-color: #04AA6D;
    color: white;
}